<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div style="width: 100%; float: left; clear: both">
        <div style="float: left">
            <a href="/back/employees" title="Get employee list">Employees</a>
            <a href="/back/services" title="Get service list">Services</a>
            <a href="/back/appointments" title="Get appointment list">Appointments</a>
        </div>
        <div style="float: right">
            <a href="/back/logout"><i class="glyphicon glyphicon-user"></i>Logout</a>
        </div>
    </div>
<h1 th:text="${title}"></h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Client Name</th>
        <th>Client Contacts</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Service</th>
        <th>Employee Name</th>
    <tr/>

    <tr th:each="appointment: ${appointments}">
        <td th:text="${appointment.getId()}" />
        <td th:text="${appointment.getClientName()}" />
        <td th:utext="${appointment.getClientFullContacts()}" />
        <td th:text="${appointment.getVStartTime()}" />
        <td th:text="${appointment.getVEndTime()}" />
        <td th:text="${appointment.getService().getName()}" />
        <td th:text="${appointment.getEmployee().getName()}" />
    </tr>
</table>
</div>
</body>
</html>