<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<a href="/back/clients" title="Get client list">Clients</a>
<a href="/back/employees" title="Get employee list">Employees</a>
<a href="/back/services" title="Get service list">Services</a>
<a href="/back/appointments" title="Get appointment list">Appointments</a>
<h1 th:text="${title}"></h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
    <tr/>

    <tr th:each="employee: ${employees}">
        <td th:text="${employee.getId()}" />
        <td th:text="${employee.getName()}" />

    </tr>
</table>

</body>
</html>